@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');


:root {
    --background-color: #484848;
    --foreground-color: antiquewhite;
    --font-color: black;
}

* {
text-align: center;
margin: 0;
padding: 0;
color: black;
flex-wrap: wrap;


}

header {
    background-color: var(--foreground-color);
    margin-bottom: 10px;
    
}

header ul {
    text-align: right;
    margin-right: 10px;
}

header ul li {
    display: inline;
    font-weight: bolder;
    margin: 5px;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 75px;
    text-align: center;
    flex-wrap: wrap;
}



p {
font-size: 15px;
}

#aboutme-potrait {
    width: 200px;
    padding: 15px;
}

.body {
    height: 208px;
    background-color: var(--foreground-color);
    margin: 50px;
}

.float-left {
    float: left;
    margin-right: 25px;
}


h2 {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 15px;
}

body{
    background-color: var(--background-color);
    margin: 50px;
    height: 208px;

}






footer {
    background-color: var(--foreground-color);
    bottom: 0px;
    
}

footer ul {
    text-align: center;
    bottom: 0px;
}

footer ul li {
    display: inline;
    font-weight: bolder;
    margin: 150px;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;

}
